<%= @document.title %><br>

<label for="Add comment">Add a comment</label>

<form action="/documents/<%= @document.id %>" method="POST">
  <label for="author">Author:
    <select name="comment[author_id]">
      <% @authors.each do |author| %>
        <option value="<%= author.id %>"><%= author.username %></option>
      <% end %>
    </select>
  </label><br>

  <label for="Comment">Comment
    <textarea rows="4" cols="80" name="comment[com]"> </textarea>
      </label><br>

  <input type="submit" name="submit" value="Submit Comment">
</form>


<br>


<% @comments.each do |comment| %>
<label for="Comment">Date: <%= comment.updated_at %></label>
<h3>Added by: <%= comment.author.username %></h3><br>
<label for="Comment">Comment:<%= comment.com %></label><br>
<% end %>
