<%= @document.title %><a href= "/documents/<%= @document.id %>/edit"> Edit </a><br>

<label for="author">Edited by:
<%= @content.first.author.username %>
</label><br>

<label for="blurb">Description:
<%= @content.first.blurb %><br>
</label><br>

<label for="content">Content:
<%= @content.first.content %><br>
</label><br>

<a href= "/documents/<%= @document.id %>/previous_versions"> Previous Versions </a>
