<%= @document.title %><br>

<label for="author">Edited by:
<%= @content.first.author.username %>
</label><br>

<%= @content.first.content %><br>
<%= @content.first.blurb %><br>

<a href= "/documents/<%= @document.id %>/previous_versions"> Previous Versions </a>
