<h1><%= @author.username %></h1><br>
<img src= "<%= @author.profile_pic %>" />

<ul>
<h2> List of documents made by <%= @author.username%> : </h2>
<% @doc_list.each do |doc_list| %>
<%= doc_list.title %><br>
<% end %>
</ul>


<ul>
<h2> List of changes made by <%= @author.username%> : </h2>
<% @documents.each do |document| %>
<%= document.title %> <span> | </span>
<%= document.updated_at %>
<% end %>
</ul>
